<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>List Buku</title>
</head>
<body>

<header>
    <a class="header-logo">List Buku</a>
</header>
<div class="container">
    <div class="container-header">
        <h1>Daftar Kasir</h1>
        <a href="/tambah-kasir" class="new-button">+ Tambahkan</a>
    </div>
    <div class="table-wrapper">
        <div class="table-head">
            <span class="id-column">ID</span>
            <span class="name-column">Nama Buku</span>
        </div>
        <ul class="table-body">
            <% results.forEach((item)=>{ %>
                <li>
                    <span class="id"><%= item.id %> </span>
                    <span class="nama_kasir"><%= item.nama_kasir %></span>
                </li>
            <%}) %> 
        </ul>
    </div>
</div>
</body>
</html>